@import url("./common/fonts.css");
@import url("./common/colors.css");

@media (min-width: 0px) and (max-width: 1024px) {
  .card-promo-titulo {
    font-size: 18px !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .card-promo-foto img {
    height: 150px !important;
  }
  .card-promo-titulo-sobre-foto {
    display: block !important;
  }

  .card-promo-titulo {
    display: none;
  }

  .card-promo-precio {
    font-size: 15px !important;
    padding: 0 !important;
  }
}

.card-promo-foto {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 7px;
}

.card-promo-titulo-sobre-foto {
  display: none;
  position: absolute;
  width: 100%;

  bottom: 0;
  left: 0;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  font-family: common-regular, common-regular;
  font-size: 17px;
  color: white;

  background: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(33, 37, 41, 0) 100%
  );
}

.card-promo-foto img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card:hover .card-promo-foto img {
  transition: transform 0.5s;
  width: 100%;
  transform: scale(1.1);
}

.card-promo-titulo {
  font-family: common-regular, common-regular;
  color: var(--card-promo-titulo);
  font-size: 20px;
  text-align: center;
}

.card-promo-precio {
  font-family: common-regular, common-regular;
  color: var(--card-promo-precio);
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}

.card-promo {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.card-promo:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
