@import url("./common/fonts.css");
@import url("./common/colors.css");

@media (min-width: 0px) and (max-width: 767px) {
  #copyright {
    font-size: 15px !important;
  }
}

#copyright {
  font-family: copyright, copyright; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

#footer {
  position: relative;
  width: 100%;
  height: 60px;
  background: #212529;
  left: 0px;
  bottom: 0px;
  clear: both;
}

#footer .container {
  width: 100%;
  height: 100%;
}

#name-app-footer {
  font-family: name-app-footer, name-app-footer;
  background: var(--name-app-footer);
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simbol-c {
  margin-left: 10px;
  margin-right: 10px;
}
