@import url("./common/fonts.css");
@import url("./common/colors.css");

#container-promos {
  background-color: whitesmoke;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}

@media (min-width: 0px) and (max-width: 767px) {
  #container-promos {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #txt-title-promo {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #container-promos {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

#container-promo-title {
  font-family: section-title, section-title;
  color: var(--container-promo-title);
  font-size: 33px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

#txt-title-promo {
  padding-left: 20px;
  padding-right: 20px;
}

#container-promo-subtitle {
  font-family: common-regular, common-regular;
  color: var(--container-promo-subtitle);
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Carousel */

#carousel-promos {
  height: 100%;
}

.carousel-slide {
  height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  margin-bottom: 25px;
  width: 50px !important;
  z-index: 0 !important;
}
