:root {
  /* Navegador */

  --name-app-navegador: white;

  /* Presentacion */

  --txt-color: white;

  /* Promos */

  --container-promo-title: #212529;
  --container-promo-subtitle: #212529;

  --card-promo-titulo: #212529;
  --card-promo-precio: #957f51;

  /* Productos */
 
  --container-producto-title: #212529;
  --container-producto-subtitle: #212529;

  --card-producto-titulo: #0e2c3e;
  --card-producto-precio: #957f51;

  /* Footer */

  --name-app-footer: #957f51;

  /* ****************************************** */
  /* ************ COLORS Dark Mode ************ */
  /* ****************************************** */

  /* Navegador */

  --name-app-dark: #957f51;

  /* Presentacion */

  --txt-color-dark: #cfb173;

  /* Scroll Bar */

  --scroll-bar-color-dark: #957f51;
  --scroll-background-dark: #212529;

  /* Promos */

  --container-promo-title-dark: white;
  --container-promo-subtitle-dark: white;
  --container-promos-dark: #5a4c30;
  --card-promo-dark: #212529;
  --card-promo-titulo-dark: white;
  
  /* Productos */

  --container-producto-title-dark: white;
  --container-producto-subtitle-dark: white;
  --container-producto-dark: #70603e;
  --card-producto-dark:  #0e2c3e;
  --card-producto-titulo-dark: whitesmoke;

  /* Paginacion */
  --paginacion-background-dark: #5a4c30;
  --paginacion-color-dark: whitesmoke;
  --paginacion-border-dark: #212529;

}
