:root {
  /* Navegador */

  --name-app-navegador: white;

  /* Presentacion */

  --txt-color: white;

  /* Promos */
  --container-promo-title: #212529;

  --card-promo-titulo: #212529;
  --card-promo-precio: #957f51;

  /* Productos */
  --container-producto-title: #212529;

  /* Footer */

  --name-app-footer: #957f51;

  /* ****************************************** */
  /* ************ COLORS Dark Mode ************ */
  /* ****************************************** */

  /* Navegador */

  --name-app-dark: #957f51;

  /* Presentacion */

  --txt-color-dark: #cfb173;

  /* Scroll Bar */

  --scroll-bar-color-dark: #957f51;
  --scroll-background-dark: #212529;

  /* Promos */

  --container-promo-title-dark: white;
  --container-promos-dark: #5a4c30;
  --card-promo-dark: #212529;
  --card-promo-titulo-dark: white;
  
  /* Productos */

  --container-producto-title-dark: white;
  --container-producto-dark: #70603e;
}
