@import url("./colors.css");

.name-app-dark{
    color: var(--name-app-dark) !important;
}

.scroll-bar-dark{
    scrollbar-color: var(--scroll-bar-color-dark) var(--scroll-background-dark);
}

.presentacion-txt-dark{
    color: var(--txt-color-dark) !important;
}

/* Promo */

.container-promo-title-dark{
    color: var(--container-promo-title-dark) !important;
}

.container-promo-subtitle-dark{
    color: var(--container-promo-subtitle-dark) !important;
}

.container-promos-dark{
    background-color: var(--container-promos-dark) !important;
}

.card-promo-dark{
    background-color: var(--card-promo-dark) !important;
}

.card-promo-titulo-dark{
    color: var(--card-promo-titulo-dark) !important;
}

.container-producto-title-dark{
    color: var(--container-producto-title-dark) !important;
}

.container-producto-dark{
    background-color: var(--container-producto-dark) !important;
}

/* Producto */

.container-producto-title-dark{
    color: var(--container-producto-title-dark) !important;
}

.container-producto-subtitle-dark{
    color: var(--container-producto-subtitle-dark) !important;
}

.container-productos-dark{
    background-color: var(--container-productos-dark) !important;
}

.card-producto-dark{
    background-color: var(--card-producto-dark) !important;
}

.card-producto-titulo-dark{
    color: var(--card-producto-titulo-dark) !important;
}

.container-producto-title-dark{
    color: var(--container-producto-title-dark) !important;
}

.container-producto-dark{
    background-color: var(--container-producto-dark) !important;
}

/* Paginacion */

.paginacion-button-dark{
    background-color: var(--paginacion-background-dark) !important;
    border-color: var(--paginacion-border-dark) !important;
}

.paginacion-button-txt-dark{
    color: var(--paginacion-color-dark) !important;
}